footer {
  border-top: 1px solid var(--Color-5, #adb5bd);
}

.texto {
  color: #6c757d;
  text-align: center;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.06875rem;
}
.derechosreservados{
	color: #6C757D;
	font-size: 1.25rem;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}



@media (max-width: 1257px) {
    .hide-on-700px {
      display: none !important;
    }
  .versiondesktop{
    background-image: url("./imagenes/fondoinicio.png");
  }

  .container {
    flex-direction: column; /* Stack items vertically */
    align-items: left;
    columns: 1;
  }

  img {
    width: 100%;
  }
}
@media (max-width: 1257px) {
  .hide-on-700px {
    display: none !important;
  }
.versiondesktop{
  background-image: url("./imagenes/fondoinicio.png");
}

.container {
  flex-direction: column; /* Stack items vertically */
  align-items: left;
  columns: 1;
}

img {
  width: 100%;
}
}
